.grid {
    position: relative; /* Required for Packery */
    width: 100%; /* Full width of the container */
    margin: 0 auto; /* Center the grid on the page */
    z-index: 0;
    min-height: 100vh;
  }
  
  .grid-item {
    position: absolute; /* Packery handles item placement */
    width: 100%; /* Fixed width for items */
    height: auto; /* Height depends on image */
    box-sizing: border-box;
    padding: 3px;
  
  }
  
  .grid-item img {
    display: block; /* Prevent inline spacing around images */
    width: 100%; /* Fit image to container width */
    height: auto; /* Maintain aspect ratio */
  }

  .grid-item video {
    width: 100%;  /* Ensures video fits inside grid */
    height: auto;
    display: block;
    object-fit: cover;
}

@media (min-width: 640px)  {.grid-item {width: 50%}}
@media (min-width: 960px)  {.grid-item {width: 33.333%}}
@media (min-width: 1280px) {.grid-item {width: 25%}}
@media (min-width: 1600px) {.grid-item {width: 20%}}
@media (min-width: 1920px) {.grid-item {width: 16.666%}}
@media (min-width: 2240px) {.grid-item {width: 14.2857%}}

 