body{
    margin: 0;
    padding:0;
}

.beth {
    padding-top: 18em;
    margin-left: 15px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-right: 15px;
}

img {
    width: 30%;
    height: auto;
    margin-right: 15px;
    padding-top: 10px;
    object-fit: cover;
}

h1 {
    width: 100%;
    padding-top: 0;
    font-size: 1em;
    font-family: "adobe-garamond-pro", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    color: white;
    padding-right: 15px;
    padding-bottom: 1.5em;
}

@media (max-width: 640px) {
    .beth {
        justify-content: left;
        display: block;
        overflow: none;
        padding-right: 15px;
        padding-top: 6em;
    }
    img {
        width: 80vw;
        height: auto;
        padding-left: 0;
}

h1 {
    width: 80vw;
}
}