
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: black;
}

.sub {
  font-family: "adobe-garamond-pro", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
  color: white;
  padding-left: 200px;
  position: absolute;
  z-index: 1;
  top: 15em;
  

}
.history-container{
  position: relative;
  height: 300vh;
  width: 100%;
  overflow: visible;
}

.pagetitle {
  font-family: "adobe-garamond-pro", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4.5em;
  padding-top: 4em;
  color: white;
  padding-left: 200px;
  line-height: 1em;
  position: absolute;
  z-index: 1;
  transition: opacity 1.5s ease-in-out;
}
.hero{
  width: 100vw;
  height: auto;
  overflow: visible;
  z-index: -1;
  display: block;
  top: 0;
}

.text {
  padding-left: 200px;
  width: 65%;
  color: white;
  position: absolute;
  top: 25em;
  transform: translateY(0);

}





.pagetitle, .sub {
  transition: opacity 0.4s ease, transform 0.4s ease;
}

p {
  font-family: "adobe-garamond-pro", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
 line-height: 1em;
  color: white;
  margin-bottom: 1.5em
}


.grid {
  position: relative; /* Required for Packery */
  width: 100%; /* Full width of the container */
  margin: 0 auto; /* Center the grid on the page */
  z-index: 0;
  min-height: 100vh;
  padding-top: 15em;
}

.grid-item {
  position: absolute; /* Packery handles item placement */
  width: 100%; /* Fixed width for items */
  height: auto; /* Height depends on image */
  box-sizing: border-box;
  padding: 3px;

}

.grid-item img {
  display: block; /* Prevent inline spacing around images */
  width: 100%; /* Fit image to container width */
  height: auto; /* Maintain aspect ratio */
}

.grid-item--width2 {
  width: 100%; /* Example wider item */
}

@media (min-width: 640px)  {.grid-item {width: 50%}}
@media (min-width: 960px)  {.grid-item {width: 33.333%}}
@media (min-width: 1280px) {.grid-item {width: 25%}}
@media (min-width: 1600px) {.grid-item {width: 20%}}
@media (min-width: 1920px) {.grid-item {width: 16.666%}}
@media (min-width: 2240px) {.grid-item {width: 14.2857%}}


@media (max-width: 850px) {
  .pagetitle , .sub , .text {
    padding-left: 15px;
  }
}
@media (max-width: 640px) {
  .pagetitle{
    font-size: 3em;
    padding-top: 6.4em;
  }
  .text{
    width: 80%;
  }
  p{
    font-size: 1.2em;
  }
}

@media (max-width: 1100px) {
 .grid {
  padding-top: 30em;
 }
 p {
  font-size: 1.5em;
 }
 .history-container {
  height: 200vh;
 }
}

 @media (max-width: 850px) {
  .grid {
   padding-top: 40em;
  }
 }


 @media (max-width: 680px) {
  .grid {
   padding-top: 70em;
  }
 }
