*{
  background: rgb(255, 255, 255);
}

.gridtitle {
    position: relative;
}

.pagetitle {
    font-family: "adobe-garamond-pro", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    padding-top: 4em;
    color: rgb(0, 0, 0);
    line-height: 1em;
    
    z-index: 1;
    text-align: center;
    justify-content: center;
    
  }

  .image {
    padding-top: 100px;
    width: 100%;
    height: auto;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  @media (max-width: 800px) {

  }

  @media (max-width: 640px) {
  
  }



@media (min-width: 640px)  {.grid-item {width: 50%}}
@media (min-width: 960px)  {.grid-item {width: 33.333%}}
@media (min-width: 1280px) {.grid-item {width: 25%}}

@media (min-width: 1600px) {.grid-item {width: 20%}}
@media (min-width: 1920px) {.grid-item {width: 16.666%}}
@media (min-width: 2240px) {.grid-item {width: 14.2857%}}

@media (min-width: 640px)  {.grid-item.wide {width: 100%}}
@media (min-width: 960px)  {.grid-item.wide {width: 66.666%}}
@media (min-width: 1280px) {.grid-item.wide {width: 50%}}
@media (min-width: 1600px) {.grid-item.wide {width: 40%}}
@media (min-width: 1920px) {.grid-item.wide {width: 33.332%}}
@media (min-width: 2240px) {.grid-item.wide {width: 28.5714%}}