.hero-container {
    position: relative;
    width: 100vw;
    height: 100%;
    padding-bottom: 3px;
}

.hero {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    display: block;
    z-index: -1;
    padding-bottom: 10px;
}

.pagetitle {
  font-family: "adobe-garamond-pro", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4.5em;
  padding-top: 4em;
  color: white;
  padding-left: 200px;
  line-height: 1em;
  position: absolute;
  z-index: 1;
}
