.gridtitle {
    position: relative;
}

.hero{
  width: 100vw;
  height: auto;
  object-fit: cover;
}

.pagetitle {
    font-family: "adobe-garamond-pro", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4.5em;
    padding-top: 4em;
    color: white;
    padding-left: 200px;
    line-height: 1em;
    position: absolute;
    z-index: 1;
  }
  

  @media (max-width: 800px) {
    .pagetitle {
      padding-left: 15px;
    }
  }

  @media (max-width: 640px) {
    .pagetitle{
      font-size: 3em;
      padding-top: 4.5em;
    }

    .credits{
      font-size: 1em;
    }
  }

  .grid {
    position: relative; /* Required for Packery */
    width: 100%; /* Full width of the container */
    margin: 0 auto; /* Center the grid on the page */
    z-index: 0;
    min-height: 100vh;
  }
  
  .grid-item {
    position: absolute; /* Packery handles item placement */
    width: 100%; /* Fixed width for items */
    height: auto; /* Height depends on image */
    box-sizing: border-box;
    padding: 3px;
  }

  
  .grid-item img {
    display: block; /* Prevent inline spacing around images */
    width: 100%; /* Fit image to container width */
    height: auto; /* Maintain aspect ratio */
  }

  @media (min-width: 640px)  {.grid-item {width: 50%}}
  @media (min-width: 960px)  {.grid-item {width: 33.333%}}
  @media (min-width: 1280px) {.grid-item {width: 25%}}
  
  @media (min-width: 1600px) {.grid-item {width: 20%}}
  @media (min-width: 1920px) {.grid-item {width: 16.666%}}
  @media (min-width: 2240px) {.grid-item {width: 14.2857%}}
