<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Farm/Contact</title>
    <link href="{{ url_for('static', filename='styles/catagories/contact.css') }}" rel="stylesheet" />
</head>


<body>

    {% include 'navigation.html' %}

    <div class="beth">
        <img src="{{ url_for('static', filename='/img/history/interior/IMG_9675.jpg') }}">
        <h1>The Farm catalogues the work of Beth Nelson and her multidisiplinary role managing and restoring one historic property in Sonoma County, California. Please reach out for more details about Beth's involvement with The Farm.
        </h1>
        <h1>Email:<a href="mailto:nelsonart@ymail.com"> nelsonart@ymail.com</a><br><br>
        <a href="https://bethnelsoncv.blogspot.com/" target="_blank">CV: Beth's other projects.</a></h1>
        
    </div>

    <div>
    {% include 'footer.html' %}
</div>
</body>
</html>
