<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Farm/Contact</title>
    <link rel="stylesheet" href="https://use.typekit.net/upe0xgu.css">
    <link href="{{ url_for('static', filename='styles/catagories/contact.css') }}" rel="stylesheet" />
</head>


<body>

    {% include 'navigation.html' %}
    <div class="beth">
        <img src="{{ url_for('static', filename='/img/contact/contact.jpg') }}">
        <div class="contact">
            <h1>For more information:<a href="mailto:nelsonart@ymail.com"> nelsonart@ymail.com</a></h1>
            <h1><a href="https://bethnelsoncv.blogspot.com/" target="_blank">Curriculum Vitae ↘︎</a></h1>
            <h1><a href="{{ url_for('credits') }}">Credits ↘︎</a></div>  </h1>
          </div>
    </div>

        {% include 'footer.html' %}
</body>
</html>
