<link href="{{ url_for('static', filename='styles/footer.css') }}" rel="stylesheet" />
<link rel="stylesheet" href="https://use.typekit.net/upe0xgu.css">

<footer>
    <div class="footmenu">
     <p>2025 The Farm</p>
     <div class= credits>
        <p>This site was designed and coded by <a href="https://new-graphics-2000.org/" target="_blank">N-G-2</a> in collaboration with Beth Nelson</p>
        <p>Song by <a href="https://www.instagram.com/sea.beetle/" target="_blank">@seabeatle</a> </p>
    </div>
    </div>

  </footer>