<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='styles/history.css') }}" rel="stylesheet" />
    <title>History & Preservation</title>
</head>
<body>
{% include 'navigation.html' %}

<div class="pagetitle">History & Preservation</div>

<div class="grid">
    <div class="grid-item">
        <img src="{{ url_for('static', filename='/img/history/IMG_1778.jpg') }}">
    </div>
    <div class="grid-item grid-item--width2">
        <img src="{{ url_for('static', filename='/img/history/IMG_0208.jpg') }}">
    </div>
    <div class="grid-item">
        <img src="{{ url_for('static', filename='/img/history/IMG_8150.jpg') }}">
    </div>
    <div class="grid-item">
        <img src="{{ url_for('static', filename='/img/history/IMG_3263.jpg') }}">
    </div>
    <div class="grid-item">
        <img src="{{ url_for('static', filename='/img/history/IMG_0035.jpg') }}">
    </div>
    <div class="grid-item">
        <img src="{{ url_for('static', filename='/img/history/IMG_0083.jpg') }}">
    </div>
    <div class="grid-item">
        <img src="{{ url_for('static', filename='/img/history/IMG_5009.jpg') }}">
    </div>

    <!--before images-->
    <div class="grid-item">
        <img src="{{ url_for('static', filename='/img/history/before/IMG_2922.jpg') }}">
    </div>
    <div class="grid-item">
        <img src="{{ url_for('static', filename='/img/history/before/IMG_3174.jpg') }}">
    </div>
    <div class="grid-item">
        <img src="{{ url_for('static', filename='/img/history/before/IMG_3276.jpg') }}">
    </div>
    <div class="grid-item">
        <img src="{{ url_for('static', filename='/img/history/before/IMG_4130.jpg') }}">
    </div>
    <div class="grid-item">
        <img src="{{ url_for('static', filename='/img/history/before/IMG_4415.jpg') }}">
    </div>
    <div class="grid-item">
        <img src="{{ url_for('static', filename='/img/history/before/IMG_5220.jpg') }}">
    </div>
    <div class="grid-item">
        <img src="{{ url_for('static', filename='/img/history/before/IMG_6150.jpg') }}">
    </div>
    <div class="grid-item">
        <img src="{{ url_for('static', filename='/img/history/before/IMG_6773.jpg') }}">
    </div>
    <div class="grid-item">
        <img src="{{ url_for('static', filename='/img/history/before/IMG_0001.jpg') }}">
    </div>
</div>

<script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
<script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
<script src="https://unpkg.com/packery@2.1.2/dist/packery.pkgd.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const grid = document.querySelector('.grid');
        const pckry = new Packery(grid, {
            itemSelector: '.grid-item',
            percentPosition: true
        });

        // Ensure layout happens after images are loaded
        imagesLoaded(grid).on('progress', function () {
            pckry.layout();
        });
    });
</script>
</body>
</html>
