<!DOCTYPE html>
<html lang="en" id="top">
<head>
 
  <link href="{{ url_for('static', filename='styles/home.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='styles/base.css') }}" rel="stylesheet" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://use.typekit.net/upe0xgu.css">
    <title>{% block title %}The Farm/Home{% endblock %}</title>
    </head>


    <body>

        <div class="o-scroll" id="js-scroll" data-scroll-container>
            <div data-scroll-section>
                <div class="o-container">
                    <header class="c-header" id="header">
                        <div class="c-header_heading" data-scroll data-scroll-speed="-8" data-scroll-position="top" data-scroll-target="#header" data-scroll-repeat>
                            <div class="o-layout">
                                <div class="o-layout_item u-1/2" data-scroll data-scroll-direction="horizontal" data-scroll-speed="-2" data-scroll-position="top" data-scroll-target="#header">
                                    <span class="u-label c-header_heading_label">
                                        <a href="https://locomotive.ca" target="_blank" rel="noopener noreferrer">
                                            Locomotive.ca
                                        </a>
                                    </span>
                                </div>
                                <div class="o-layout_item u-1/2" data-scroll data-scroll-direction="horizontal" data-scroll-speed="2" data-scroll-position="top" data-scroll-target="#header">
                                    <div class="u-text-right">
                                        <p class="u-label c-header_heading_label">
                                            v4.x – Edition
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h1 class="c-header_title o-h1" data-scroll>
                            <span class="c-header_title_line">
                                <span data-scroll data-scroll-speed="3" data-scroll-position="top">Locomotive</span>
                            </span>
                            <span class="c-header_title_line">
                                <span data-scroll data-scroll-speed="2" data-scroll-position="top">Scroll</span>
                            </span>
                            <span class="c-header_title_line -version u-white">
                                <span class="o-h1" data-scroll data-scroll-speed="3" data-scroll-position="top" data-scroll-delay="0.05">v</span><span class="o-h1" data-scroll data-scroll-speed="5" data-scroll-position="top" data-scroll-delay="0.05">4</span><span class="o-h1" data-scroll data-scroll-speed="2" data-scroll-position="top" data-scroll-delay="0.05">.</span><span class="o-h1" data-scroll data-scroll-speed="4" data-scroll-position="top" data-scroll-delay="0.05">X</span>
                            </span>



    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>