<!DOCTYPE html>
<html lang="en" id="top">
<head>
 
  <link href="{{ url_for('static', filename='styles/index.css') }}" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://use.typekit.net/upe0xgu.css">
    <title>{% block title %}The Farm{% endblock %}</title>




{% block main %}

<body>
  
  <div>
    <img class="hero"src="{{ url_for('static', filename='img/opening_hero.jpg') }}">
  </div>

  <a class="title" href="{{ url_for('menu') }}">The Farm</a>

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

{% endblock %}




