<!DOCTYPE html>
<html lang="en" id="top">
<head>
 
  <link href="{{ url_for('static', filename='styles/index.css') }}" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://use.typekit.net/upe0xgu.css">
    <title>{% block title %}The Farm{% endblock %}</title>
</head>



<body>
  
  <div>
    <img class="hero"src="{{ url_for('static', filename='img/hero/opening_hero_2.jpg') }}">
  </div>



  <a id="expandingText" class="hidden-text" href="{{ url_for('menu') }}">The Farm</a>

  <script>
    window.addEventListener("load" , function () {
      document.getElementById("expandingText").classList.add("visible-text");
    });
  </script>
</body>
</html>






