
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; 
  }
  
  
.hero {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    margin: 0;
    z-index: -1;
    position: absolute;
}
  
.hidden-text{
    font-family: "adobe-garamond-pro", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
    margin-top: 67vh;
    margin-left: 40%;
    color: white;
    text-align: center;
    display: block;
    text-decoration: none;
    transition: color 0.3s ease;
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 1s ease-out, transform 1s ease-out;
    position: relative;
}

.visible-text {
    opacity: 1;
    transform: translateX(0) scale(1);
}