<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='styles/catagories/history.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='styles/catagories/catagory.css') }}" rel="stylesheet" />
    <title>History & Restoration</title>
</head>
<body>
<div>
    {% include 'loading.html' %}
{% include 'navigation.html' %}
<div class="history-container">
    <div class="pagetitle">History & Restoration</div>
    <div class="text">
        <p>LIGHTING, FRAMING, FLOORING &</p> 

    <p>FOUNDATIONS.</p>
        
    <p>INSULATING, BUILDING, GRADING & GRAVEL.</p> 
        
    <p> PAINTING, PLUMBING & PERMITS.</p> 
        
<p>ELECTRICAL, FENCING. & FURNITURE MAKING,</p>  
        
<p>FOOD PRODUCTION.</p> 
        
<p>PLANTING, PLUMS,  PEACHES & PRESERVING.</p>
        
<p>PRODUCT DEVELOPMENT.</p>
        
<p>DECORATION AND DESIGN, DECKING AND DRY-</p>
        
<p>FARMING.</p>
        
<p>COVER CROP & COMPOSTING, ORGANIC</p> 
        
<p> CONVERSION. CANNING.</p>
        
<p>RESEARCH & REGENERATIVE FARMING,</p> 
        
<p>RIPARIAN CORRIDOR & RAIN WATER</p>
        
<p>CATCHMENT.</p> 
        
<p>HISTORY & HERITAGE, HOSPITALITY.</p> 
        
<p>BEE KEEPING & BLACK WALNUT DYEING.</p>
        
<p>SURVEYING & SWIMMING POOL INSTALLATION.</p> 
        
<p>FIGS & FRIENDSHIPS, VENDORS & VINEYARD</p>
        
<p>MANAGEMENT.</p> 
        
<p>ARBORIST & APIARY. APPLES & CIDER.</p>
        
<p>HEATING & AIR CONDITIONING. WINDOWS &</p>
        
<p>DOORS. EDUCATION & RESTORATION.</p> 
        
<p>ZINFANDEL & CHARDONNAY, PINOT NOIR &</p> 
        
<p>ROSÉ.</p> 
        
<p>SHEPHERDS & SEASONS, HARVEST &</p> 
        
<p>HAPPINESS & HISTORY, HOSPITALITY &</p> 
        
<p>HERITAGE.</p>


        
 </div>
 <img class="hero" src="{{ url_for('static', filename='/img/hero/NIGHT_HERO_LONG.jpg') }}" alt="History Image">
</div>

<div class="ender">
    "To restore a farm is to restore life itself."
</div>


<div class="grid">
    <div class="grid-item grid-item--width2">
        <img src="{{ url_for('static', filename='/img/history/IMG_0208.jpg') }}">
    </div>
    <div class="grid-item">
        <img src="{{ url_for('static', filename='/img/history/interior/IMG_1055.jpg') }}">
    </div>
    <div class="grid-item">
        <img src="{{ url_for('static', filename='/img/history/resto22.jpg') }}">
    </div>
    <div class="grid-item">
        <img src="{{ url_for('static', filename='/img/history/IMG_8150.jpg') }}">
    </div>
    <div class="grid-item">
        <img src="{{ url_for('static', filename='/img/history/IMG_3263.jpg') }}">
    </div>

    <div class="grid-item">
        <video autoplay loop muted playsinline>
            <source src="{{ url_for('static', filename='/img/history/farmscope.mp4') }}" type="video/mp4">
        </video>
        </div>
    <div class="grid-item">
        <img src="{{ url_for('static', filename='/img/history/interior/IMG_1178.jpg') }}">
    </div>
 
    <div class="grid-item">
        <img src="{{ url_for('static', filename='/img/history/resto10.jpg') }}">
    </div>
    <div class="grid-item">
        <img src="{{ url_for('static', filename='/img/history/IMG_0083.jpg') }}">
    </div>
    <div class="grid-item">
        <img src="{{ url_for('static', filename='/img/history/interior/IMG_1068.jpg') }}">
    </div>
    <div class="grid-item">
        <img src="{{ url_for('static', filename='/img/history/IMG_5009.jpg') }}">
    </div>
<div class="grid-item">
    <img src="{{ url_for('static', filename='/img/history/before/IMG_4415.jpg') }}">
</div>
    <!--interior images-->
    <div class="grid-item">
        <video autoplay loop muted playsinline>
            <source src="{{ url_for('static', filename='/img/history/interior/canoehanging.mp4') }}" type="video/mp4">
        </video>
        </div>
    
        <div class="grid-item">
            <img src="{{ url_for('static', filename='/img/history/before/IMG_4130.jpg') }}">
        </div>
        
   
    <div class="grid-item">
        <video autoplay loop muted playsinline>
            <source src="{{ url_for('static', filename='/img/history/foundation.mp4') }}" type="video/mp4">
        </video>
        </div>
 
    <div class="grid-item">
        <img src="{{ url_for('static', filename='/img/history/interior/IMG_1067.jpg') }}">
    </div>
    <div class="grid-item">
        <img src="{{ url_for('static', filename='/img/history/restoration 10.jpg') }}">
    </div>

   
    <div class="grid-item">
        <video autoplay loop muted playsinline>
            <source src="{{ url_for('static', filename='/img/history/interior/barnfloor.mp4') }}" type="video/mp4">
        </video>
        </div>
    

    <div class="grid-item">
        <img src="{{ url_for('static', filename='/img/history/interior/IMG_1763.jpg') }}">
    </div>
    <div class="grid-item">
        <img src="{{ url_for('static', filename='/img/history/resto23.jpg') }}">
    </div>
    
    <div class="grid-item">
        <img src="{{ url_for('static', filename='/img/history/interior/IMG_4611.jpg') }}">
    </div>

    <div class="grid-item">
        <img src="{{ url_for('static', filename='/img/history/interior/IMG_4738.jpg') }}">
    </div>
    <div class="grid-item">
        <img src="{{ url_for('static', filename='/img/history/resto24.jpg') }}">
    </div>
    
    <div class="grid-item">
        <img src="{{ url_for('static', filename='/img/history/interior/IMG_MENUpage.jpg') }}">
    </div>
    
    <div class="grid-item">
        <img src="{{ url_for('static', filename='/img/history/interior/bar2.jpg') }}">
    </div>
    <!--before images-->
   
    <div class="grid-item">
        <img src="{{ url_for('static', filename='/img/history/interior/IMG_4610.jpg') }}">
    </div>
   
    
    <div class="grid-item">
        <img src="{{ url_for('static', filename='/img/history/before/IMG_6773.jpg') }}">
    </div>
    <div class="grid-item">
        <video autoplay loop muted playsinline>
            <source src="{{ url_for('static', filename='/img/history/interior/building3.mp4') }}" type="video/mp4">
        </video>
        </div>
        <div class="grid-item">
            <img src="{{ url_for('static', filename='/img/history/restoration 7.jpg') }}">
        </div>
        <div class="grid-item">
            <img src="{{ url_for('static', filename='/img/history/resto11.jpg') }}">
        </div>
        <div class="grid-item">
            <img src="{{ url_for('static', filename='/img/history/resto1.jpg') }}">
        </div>
        <div class="grid-item">
            <img src="{{ url_for('static', filename='/img/history/before/IMG_3276.jpg') }}">
        </div>
        <div class="grid-item">
            <video autoplay loop muted playsinline>
                <source src="{{ url_for('static', filename='/img/history/before/oldbarntreetrimming.mp4') }}" type="video/mp4">
            </video>
        </div>
    
</div>

<div class="story">
    It frightened me, when I first laid eyes on the the farm.</div> 
    
   <div class="T2"> <p>Like a once grand lady, now down-at-heel, faded and forgotten, a battered kind 
        
        of beauty. There was a melancholy feeling to everything. And there 
        
        was the quiet.</p>
        
        
        <p>The stark silhouette of the locust tree, the scent of the big bay, 
        
        the woodpecker leaving its mark on the bark of the black walnut 
        
        trees. The overgrown blackberry vines, lush with fruit and bees, left to 
        
        the birds all these fallow years. The silence. In the absence of sound, 
        
        even the wings of a hummingbird can be heard.</p> 
        
        
        <p>California quail cooed under the the hedgerows, foraging alongside 
        
        the jackrabbits and deer.  The fences untended and un-mended. 
        
        Italian dry-farm grapes brought from Italy in 1886, gnarled and wild, 
        
        survivors of frost and flood.  Wise. I immediately whispered 
        
        “grandparents” and reached out to touch one.</p> 
        
        
        <p>The stars at night were so close, so clear. And bit by bit, time and 
        
        place, spirit and story were revealed. All the secrets. The fruit 
        
        ripened, the ground gave back, the feral tamed, and I was glad I had 
        
        said yes to all this that once frightened me. There are times when a 
        
        place calls to you, as if somewhere in your DNA you recognize but 
        
        can’t quite name  your own kin. This is that story, This is the story of</p> 
        
        <div class="storytwo"> The Farm.</div>
    </div>


{% include 'footer.html' %}
<script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
<script src="https://unpkg.com/packery@2.1.2/dist/packery.pkgd.min.js"></script>
<script src="https://unpkg.com/gsap@3.10.2/dist/gsap.min.js"></script>
<script src="https://unpkg.com/gsap@3.10.2/dist/ScrollToPlugin.min.js"></script>

<script>
  window.onload = () => {
    const grid = document.querySelector('.grid');
    const stopper = document.querySelector(".stopper");
    const title = document.querySelector(".pagetitle");
    const text = document.querySelector(".text");
    const heroImage = document.querySelector(".hero");
    const historyContainer = document.querySelector(".history-container");
    const ender = document.querySelector(".ender");

    if (!grid) return;

    const pckry = new Packery(grid, {
      itemSelector: '.grid-item',
      percentPosition: true
    });

    imagesLoaded(grid).on('always', function () {
      pckry.layout();
    });

   /* title.style.opacity = "1";
    text.style.opacity = "1";
    heroImage.style.transform = "translateY(0)";
    text.style.transform = "translateY(0)";

    // Fade out title after 2 seconds
    setTimeout(() => {
      gsap.to(title, { opacity: 0, duration: 1 });
    }, 2000);

    // Fade in text after title fades
    setTimeout(() => {
      gsap.to(text, { opacity: 1, duration: 1.5 });
    }, 2000);

    // Move text and hero image upwards, scroll to stopper div
    setTimeout(() => {
      gsap.to([heroImage, text], {
        duration: 8,
        transform: "translateY(-70%)",
      });

    
      gsap.to(window, {
        duration: 8,
        scrollTo: {
          y: ender,
          autoKill: true,
          offsetY: 70
        }
      });
    }, 1000);
*/
  };
</script>





</body>
</html>