<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospitality & Education</title>
    <link href="{{ url_for('static', filename='styles/catagories/hospitality.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='styles/catagories/catagory.css') }}" rel="stylesheet" />

</head>


<body>

    {% include 'nav2.html' %}



    <div class="pagetitle">Hospitality and Education</div>

        <div class="hero">
                <video autoplay controls>
                    <source src="{{ url_for('static', filename='/img/hospitality/test2.mp4') }}" type="video/mp4">
                </video>
            </div>


        <div class="content">
            <div class="grid-container">
                <div class="image">
                    <img src="{{ url_for('static', filename='/img/hospitality/plums.jpg') }}">
                </div>
                <div class="image">
                    <img src="{{ url_for('static', filename='/img/hospitality/education.jpg') }}">
                </div>
            </div>
        </div>
        <div class="content">
        <div class="grid-container">
            <div class="image">
                <img src="{{ url_for('static', filename='/img/hospitality/education4.jpg') }}">
            </div>
            <div class="image">
                <img src="{{ url_for('static', filename='/img/hospitality/h1.jpg') }}">
            </div>
        </div>
        </div>
        <div class="content">
            <div class="grid-container">
                <div class="image">
                    <img src="{{ url_for('static', filename='/img/hospitality/education9.jpg') }}">
                </div>
                <div class="image">
                    <img src="{{ url_for('static', filename='/img/hospitality/education15.jpg') }}">
                </div>
            </div>
            </div>

            <div class="content">
                <div class="grid-container">
                    <div class="image">
                        <img src="{{ url_for('static', filename='/img/hospitality/trevz.jpg') }}">
                    </div>
                    <div class="image">
                        <img src="{{ url_for('static', filename='/img/hospitality/trevz2.jpg') }}">
                    </div>
                </div>
                </div>
                <div class="content">
                    <div class="grid-container">
                        <div class="image">
                            <img src="{{ url_for('static', filename='/img/hospitality/b.jpg') }}">
                        </div>
                        <div class="image">
                            <img src="{{ url_for('static', filename='/img/hospitality/education2.jpg') }}">
                        </div>
                    </div>
                    </div>


        {% include 'footered.html' %}

        <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
        <script src="https://unpkg.com/packery@2.1.2/dist/packery.pkgd.min.js"></script>
        <script>
            window.onload = () => {
                const grid = document.querySelector('.grid');
                if (!grid) return; // Avoid errors if grid is not found
        
                const pckry = new Packery(grid, {
                    itemSelector: '.grid-item',
                    percentPosition: true
                });
        
                // Ensure layout happens after ALL images are loaded
                imagesLoaded(grid).on('always', function () {
                    pckry.layout();
                });
            };
    </script>

</body>
</html>